<div id="<%= dom_id user %>">
  <p>
    <strong>ユーザー</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>メールアドレス</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>パスワード</strong>
    <%= user.passward %>
  </p>


</div>
