<p style="color: green"><%= notice %></p>

<h1 class = "visual">投票（タイトル）</h1>
<p class = "visual">
<h1>マイページ</h1>
<%= @user.name %>
</p>

<div class = "visual">
<div>
  <%= link_to "アンケート一覧", "/polls" %>
</div>

<div>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
