<p style="color: green"><%= notice %></p>
<div class = "visual">
<h1>投票（タイトル）</h1>
<p>
<h1>マイページ</h1>
<p>ユーザー名：<%= @user.name %></p>
</p>
</div>
<div class = "visual">
<div>
  <%= link_to "アンケート一覧", "/polls" %>
</div>

</div>
