<p style="color: green"><%= notice %></p>

<h1 class = "visual">投票（タイトル）</h1>
<p class = "visual">
<%= @user.name %>
</p>

<div class = "visual">

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
