<p style="color: green"><%= notice %></p>

<<<<<<< HEAD
<h1 class = "visual">投票（タイトル）</h1>
<p class = "visual">
=======
<h1>マイページ</h1>
>>>>>>> 9b802751e8771467b0e3f4bf82a4c47fe92c3f85
<%= @user.name %>
</p>

<<<<<<< HEAD
<div class = "visual">
=======
<div>
  <%= link_to "アンケート一覧", "/polls" %>
</div>
>>>>>>> 9b802751e8771467b0e3f4bf82a4c47fe92c3f85

<div>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
