<p style="color: green"><%= notice %></p>

<h1>Votes</h1>

<div id="votes">
  <% @votes.each do |vote| %>
    <p>
      <%= link_to "Show this vote", poll_vote_path(vote.poll, vote) %>
    </p>
  <% end %>
</div>

<%= link_to "New vote", new_poll_vote_path(@poll) %>